body{
  background-color:#0f121f;
  background-image: url(/static/stars.jpg);
  background-repeat-y:no-repeat;
  background-attachment: fixed;
  color: white;
}

body * {
  font-family: arial;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
  margin: 0;
}

a,a:hover,a:visited{
  color: white;
  text-decoration: none;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

nav li{
  display: inline-block;
  margin-left: 1.5rem;
}

.wrapper{
  max-width:960px;
  margin:0 auto;
}
div.wrapper h1{
  text-align:center;
  margin:100px auto;
  font-size:2.4em;
}
nav button{
  background: none;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 1em;
}
.articles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.article{
  padding: 10px;
  border: 1px solid #00dba0;
  position: relative;
  padding-bottom: 40px;
}

.article h2{
  font-size: 1.2em;
}

.article .author{
  padding: 10px;
  background-color: #00dba0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #0f121f;
}

.article_detile .article{
  padding:1rem;

}
.article_detile img{
  width: 100%;
}

.article_detile h1{
  text-align: center;
}

.article_detile p {
  text-align: center;
}

.site_form{
  margin-top: 5rem;
  padding: 20px;
  border:1px solid #00dba0;
}

.site_form input,textarea{
  display: block;
  margin: 20px 0;
  padding: 10px;
}

a.highlight{
  border: 1px solid #00dba0;
  padding:10px;
  border-radius:4px;
  color: #00dba0;
}

.helptext,.helptext ul{
  margin-bottom:10px;
  color: gray;
  font-size: 0.9em;
  display: block;
}

.site_form label{
  color: #00dba0;
}

.errorlist li{
  padding:10px;
  list-style-type:none;
  border:1px solid #ff5722;
  color:#ff5722;
  margin:10px 0;
}
.errorlist{padding:0;}
.site_form input[type="submit"]{
  border:0;
  color:#fff;
  font-size:1.2em;
  background:#00dba0;
  border-radius:4px;
  margin:10px 0;
  cursor: pointer;
}

.site_form input[type="submit"]:hover{
  background-color: red;
}
